
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

our_is531_1d_site/__pycache__/
our_is531_1d_site/local_settings.py
home/__pycache__/*
static/admin/*
home/migrations/*